* {
    background-color: black; /* #121112; */
    font-family: Retroville NC;
}

@font-face {
    font-family: 'Retroville-NC'; /* Give your font a name */
    src: url(Retroville-NC.ttf);
}

.chart {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

.chart video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -950%);
  text-align: center;
  color: #51eb0f; /* Adjust text color as needed */
  font-family: Retroville-NC;
  margin-top: 0px;
  margin-bottom: 0px;
}

.status {
  position: absolute;
  top: 27%;
  left: 70px;
  transform: translate(-50%, -1000%);
  text-align: center;
  color: #51eb0f; /* Adjust text color as needed */
  font-family: Retroville-NC;
  margin-top: 0px;
  margin-bottom: 0px;
}

.statushome {
    position: absolute;
  top: 27%;
  left: 132px;
  transform: translate(-50%, -900%);
  text-align: center;
  color: #51eb0f; /* Adjust text color as needed */
  font-family: Retroville-NC;
  margin-top: 0px;
  margin-bottom: 0px;
}

.table {
   position: absolute;
   top: 27%;
   left: 240px;
   transform: translate(-50%, -120px);
   text-align: center;
   color: #f38933; /* Adjust text color as needed */
   border-collapse: collapse;
   border: 2px solid rgb(140 140 140);
   font-family: Retroville-NC;
   font-size: 0.8rem;
   letter-spacing: 1px;
}

th {
    border: 1px solid rgb(167 135 255);
    padding: 8px 10px;
  }

.color {
   position: absolute;
   top: 27%;
   left: 55px;
   transform: translate(-50%, -70px);
   text-align: center;
   color: purple;
   font-family: Retroville-NC;
}

.text1 {
  position: absolute;
   top: 27%;
   left: 90px;
   transform: translate(-50%, -20px);
   text-align: center;
   color: #51eb0f;
   font-family: monospace;
   margin-top: 0px;
   margin-bottom: 0px;
}

.text2 {
  position: absolute;
  top: 27%;
  left: 175px;
  transform: translate(-50%, 0px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text3 {
  position: absolute;
  top: 27%;
  left: 178px;
  transform: translate(-50%, 20px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text4 {
  position: absolute;
  top: 27%;
  left: 235px;
  transform: translate(-50%, 60px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text5 {
  position: absolute;
  top: 27%;
  left: 180px;
  transform: translate(-50%, 80px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text6 {
  position: absolute;
  top: 27%;
  left: 85px;
  transform: translate(-50%, 100px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text7 {
  position: absolute;
  top: 27%;
  left: 68px;
  transform: translate(-50%, 137px);
  text-align: center;
  color: #51eb0f;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text7Mail {
  position: absolute;
  top: 27%;
  left: 220px;
  transform: translate(-50%, 138px);
  text-align: center;
  color: #f38933;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gif {
  position: absolute;
  top: 27%;
  left: 225px;
  transform: translate(-50%, 180px);
  text-align: center;
  color: #f38933;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gif2 {
  position: absolute;
  top: 27%;
  left: 1270px;
  transform: translate(-50%, -230px);
  text-align: center;
  color: #f38933;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gif3 {
  position: absolute;
  top: 27%;
  left: 75px;
  transform: translate(-50%, -75px);
  text-align: center;
  color: #f38933;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

.timeplaceholder {
  position: absolute;
  top: 27%;
  left: 125px;
  transform: translate(-50%, 500px);
  text-align: center;
  color: #F6AE2D;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 0px;
}

